.comment-section {
  margin-bottom: 2rem;
}

.comment-title {
  margin: 0;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form textarea {
  width: 50%;
  min-height: 60px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: inherit;
  font-family: inherit;
}

.comment-form button {
  /* padding: 0.5rem 1rem; */
  width: 70px;
  height: 30px;
}

.comment {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.delete-comment {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 30px;
  height: 30px;
}

.delete-comment:hover {
  opacity: 0.8;
}

.comment p {
  margin: 0.5rem 1rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1rem;
}

.time {
  font-size: 0.8rem;
  color: #666;
}

@media (max-width: 1200px) {
  .comment {
    width: 80%;
  }

  .comment-form textarea {
    width: 65%;
  }
}

@media (max-width: 920px) {
  .comment {
    width: 50vw;
  }

  .comment-form textarea {
    width: 40vw;
  }
}

@media (max-width: 770px) {
  .comment {
    width: 70vw;
  }

  .comment-form textarea {
    width: 55vw;
  }
}

@media (max-width: 660px) {
  .comment {
    width: 70vw;
  }

  .comment-form textarea {
    width: 55vw;
  }
}
